## OS X
.DS_Store

## Build generated
/build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.gcda
*.gcno

## Carthage
Carthage/

## Fastlane
fastlane/screenshots/
fastlane/*.xml
fastlane/*.md
fastlane/*.html
*.zip
*.mobileprovision

## R.swift https://github.com/mac-cain13/R.swift
*.generated.swift
